.user-color-00F0FF .fc-event-main {
  background-color: #00F0FF !important;
  color: black !important;
}

.user-color-FFA900 .fc-event-main {
  background-color: #FFA900 !important;
  color: white !important;
}

.user-color-6F2DBD .fc-event-main {
  background-color: #6F2DBD !important;
  color: white !important;
}

.user-color-00FF81 .fc-event-main {
  background-color: #00FF81 !important;
  color: black !important;
}

.user-color-FF6800 .fc-event-main {
  background-color: #FF6800 !important;
  color: white !important;
}